[Unit]
Description=winterhill-web
RestartSec=1
StartLimitBurst=5
StartLimitIntervalSec=3
StartLimitAction=none

[Service]
ExecStart=/opt/winterhill-web/winterhill-web # -verbose -trace
WorkingDirectory=/opt/winterhill-web
Restart=always

[Install]
WantedBy=multi-user.target
